html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;  
    scroll-behavior: smooth;
}

h1{
	color: orangered;
    font-family: 'Indie Flower', cursive;
}

container-fluid {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    height: 100%;
}

row {
    order: 1;
}

/* header name section */

h2 {
    margin-bottom: 20px;
}

#main-header {
    margin: 20px;
}

/* city autocomplete text box area */

.destination {
    margin-top: 5px;
}

#autocomplete {
    width: 600px;
    text-align: center;
}

/* search locations */

a {
    width: 100%;
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

/* buttons */

#button {
    margin-bottom: 20px;
}

#slbuttons {
    margin: 20px;
    line-height: 2;
    font-size: 15px;
    text-align: center;
}

#sl-return {
    width: 250px;
    margin-bottom: 10px;
}

.col-sm-12 {
    text-align: center;
    margin-top: 20px;
}

/* form area */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* results area */

table {
    width: 100%;
}

#resultsdropdown {
    margin: 20px;
    max-width: 100%
}

#listing {
    position: initial;
    width: 100%;
    height: 245px;
    overflow: auto;
    top: 70px;
    cursor: pointer;
    overflow-x: hidden;
    margin-bottom: 20px;
    text-align: center;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

/* map area */

#map {
    width: 100%;
    height: 80vh;
    text-align: center;   
}

.btn {
    border-radius: 4px;
    font-size: 15px;
    width: 100%;    
    margin:5px;
    display: inline;
}

* media queries */

@media (min-width: 768px) {
    #sl-return {
        display: none;
    }
    #listing {
        height: 30vh;
    }
}

@media (min-width: 992px) {
    #map {
        height: 40vh;
    }

    form {
        font-size: 10px;
    }
    #listing {
        height: 55vh;
    }
}

@media (min-width: 1600px) {
    #listing {
        height: 38vh;
    }
}




