body {
    font-family: 'Roboto', sans-serif;
}

/*------------------------------------Containers------*/

.container-wrapper {}

.container-wrapper--aboutus {
    background-color: #e82285;
    color: white;

}

.container-wrapper--aboutusinfo {
    background-color: #ef9ec6;
    color: white;

}

.container-wrapper--contactus {
    background-color: #0f0f0e;
    color: white;
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.alert-container {
    text-align: center;
}

.callout-container {
    height: 100vh;

    background: url('../images/home_blackground.png') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*------------------------------------Navbar------*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*------------------------------------Jumbotron------*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 10px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*------------------------------------Block dividers------*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #37840b;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/*------------------------------------bottoms------*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 180px;
}

.btn--red {
    color: white;
    background-color: #37840b;
    border-color: #37840b;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #205104;
    border-color: #205104;
    color: white;
}

/*------------------------------------Alert------*/

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #544600;
    background-color:#d1af00;
    border-color:#d1af00;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/*------------------------------------Page Header------*/


.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/*------------------------------------Products------*/

.products .page-header {
    margin-bottom: 25px;
}

/*------------------------------------Features------*/

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.content-container-contact-us {
    margin-top:150px;
}

.location-link {
    color: white;
}

.location-link:hover {
    color: pink;
}

/*---------------------------------------------------------Media Queries------*/

@media(min-width: 992px) {
    .border-home-side-content {
        min-height: 382px;
    }


    .header-image-contain {

        visibility: visible;

        background: url('../images/home_blackground.png');

        background-position: center;

        background-repeat: no-repeat;

        background-size: contain;

        min-height: 360px;

        transition: all 1s ease-in-out;

        -moz-transition: all 1s ease-in-out;

        -o-transition: all 1s ease-in-out;

        -webkit-transition: all 1s ease-in-out;

    }

}



